body {
  background-color: white;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
/* hr {
  border: 3px dotted gray;
  border-style: dotted none none;
  height: 5px;
  width: 5%;
} */
hr {
  border: none;
  height: 15px;
}
img {
  padding: 15px;
}
.title-bar {
  background-color: black;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

html,
.bulk-equip-bg,
.konecrane-bg,
iframe {
  margin: 0px;
  padding: 0px;
  height: 100%;
  border: none;
}
html {
  overflow: auto;
}
iframe {
  display: block;
  width: 100%;
}
.styled {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(220, 0, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
.styled:hover {
  background-color: rgba(255, 0, 0, 1);
}

.styled:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.bulk-logo {
  width: 20%;
}
.expandable-items {
  border: 4px double #444642;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.expandable-items.hover {
  background-color: red;
}
.bulk-equip-bg {
  background-color: #1b1b1b;
}
.konecrane-bg {
  background-color: #199597;
}
